<html>
  <head>
    <title>User Profile</title>
    <!-- Thêm các tệp CSS và JS của Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto mt-5">
          <div class="card">
            <div class="card-header text-center">
              <h3>User Profile</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    src="https://via.placeholder.com/150"
                    class="img-thumbnail"
                  />
                </div>
                <div class="col-md-8">
                  <p><strong>ID:</strong> {{user._id}}</p>
                  <p><strong>Email:</strong> {{user.email}}</p>
                  <a href="/user/{{user._id}}/edit" class="btn btn-primary">Edit
                    Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>